@{
    ViewData["Title"] = "Home Page";
}
@model List<BookUserModel>



<div class="text-center">
    <h3 class="display-4">Hello @User.Identity.Name !</h3>
</div>

<div id="bookList">
    @Html.Partial("_List", Model)
</div>

<script language="javascript" type="text/javascript">

    //function RefreshBookList() {

    //    $.ajax({
    //        url: '/Home/_List',
    //        type: 'POST',
    //        cache: false,
    //        dataType: 'json',
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (data) {
                
    //        },
    //        error: function (data) {
    //        }
    //    });
    //}

    //function ReturnBook(selectedBook) {

    //    $.ajax({
    //        url: '/Home/ReturnBook?bookId=' + selectedBook,
    //        type: 'POST',
    //        cache: false,
    //        dataType: 'json',
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (result) {
    //            // return book butonunun divini kapat , barrow book u aç
    //        },
    //        error: function (result) {
    //        }
    //    });
    //}

</script>
