@{
    ViewData["Title"] = "Home Page";
}
@model List<BookUserModel>



<div class="text-center">
    <h3 class="display-4">Hello @User.Identity.Name !</h3>
</div>

<div id="bookList">
    @Html.Partial("_List", Model)
</div>

<script language="javascript" type="text/javascript">

</script>
